@model Domain.Concrete.EF.Tag

@{
    ViewBag.Title = "Теги: редактирование";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-left: 10px">Редактирование</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4 style="margin-left: 10px">Тег</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.TagId)

        <div class="form-group">
            @Html.LabelFor(model => model.NameForLabels, "Название для пользователя:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NameForLabels, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NameForLabels, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NameForLinks, "Название для ссылки:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NameForLinks, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NameForLinks, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div style="margin-left: 10px">
    @Html.ActionLink("К списку тегов", "Index")
</div>
